{% extends 'layout/layout.html.twig' %}

{% block title %}
    Tickets | View
{% endblock %}

{% block container %}
    <div class="panel panel-default">
        <div class="panel-heading">Ticket #{{ ticket.id }}</div>
        <div class="panel-body">

            {% if app.user==ticket.user %}
                <a href="{{ path('edit_ticket',{id : ticket.id}) }}" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> <b>Edit</b></a>
                <a href="{{ path('remove_ticket',{ id: ticket.id}) }}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> <b>Delete</b></a>
                <hr>
            {% endif %}

            <label>Ticket #:</label> {{ ticket.id }}<br>
            <label>Subject:</label> {{ ticket.subject }}<br>
            <label>Date:</label> {{ ticket.date|date('m/d/Y H:m:s') }} <br>
            <label>Description: </label>{{ ticket.description }}
            <br>
            <br>


            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#time">Time Entries</a></li>
                <li><a data-toggle="tab" href="#employees">Employees</a></li>
            </ul>
            <div class="tab-content">
                <div id="time" class="tab-pane fade in active">
                    <div class="table-responsive">
                        <table class="table table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>Employee</th>
                                    <th>Date</th>
                                    <th>Description</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if notes|length >0 %}
                                    {% for note in notes %}
                                        <tr>
                                            <td id="noteId" hidden >{{ note.id }}</td>
                                            <td id="ticketId" hidden>{{ ticket.id }}</td>
                                            <td>{{ note.user.name }} {{ note.user.lastname }}</td>
                                            <td>{{ note.fecha|date('m/d/Y H:m:s') }}</td>
                                            <td>{{ note.note }}</td>
                                            <td>
                                                {% if app.user==note.user %}
                                                    <a href="{{ path('edit_note',{ id : note.id }) }}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span> <b>Edit</b></a>
                                                    <button id="deleteNote" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> <b>Delete</b></button>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="4"><b>No Hay Registros</b></td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="employees" class="tab-pane fade">
                    <div class="table-responsive">
                        <table class="table table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% if employees|length > 0 %}
                                {% for employee in employees %}
                                    <tr>
                                        <td hidden id="ticketId">{{ ticket.id }}</td>
                                        <td hidden id="employeeId">{{ employee.id }}</td>
                                        <td>{{ employee.name }}</td>
                                        <td>{{ employee.lastname }}</td>
                                        <td>{{ employee.username }}</td>
                                        <td>
                                            <a href="{{ path('view_employee',{ 'id':employee.id }) }}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span> <b>View</b></a>
                                            {% if app.user==ticket.user %}
                                                <button id="deleteTicketEmployee" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> <b>Delete</b></button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="4"><b>No Hay Registros</b></td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{{ parent() }}

<script>
    $(document).ready(function(e){
        $(document).on('click','#deleteTicketEmployee',function(e){

            var r=$(e.target).closest('tr');

            var ticketId=r.find('#ticketId').text();
            var employeeId=r.find('#employeeId').text();

            var data={
                id: ticketId,idEmployee: employeeId
            };

            r.remove();

            $.ajax({
                url:Routing.generate('delete_ticketEmployee', {id: ticketId}),
                type:'DELETE',
                data: JSON.stringify(data),
                success:function(response) {

                }
            });
        });

        $(document).on('click','#deleteNote',function(e){
            var r=$(e.target).closest('tr');

            var ticketId=r.find('#ticketId').text();
            var noteId=r.find('#noteId').text();

            var data={
                id: ticketId,noteId: noteId
            };

            r.remove();

            $.ajax({
                url:Routing.generate('delete_note_ticket', {id: ticketId}),
                type:'DELETE',
                data: JSON.stringify(data),
                success:function(response) {

                }
            });
        });
    });
</script>
{% endblock %}