{% extends 'layout/layout.html.twig' %}

{% block title %}
    Employees | Edit
{% endblock %}

{% block container %}
    <div class="panel panel-default">
        <div class="panel-heading">Employee Form</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-5">
                    <form id="frmEdit">
                        <input hidden id="id" value="{{ employee.id }}">
                        <div class="form-group">
                            <label>First Name:</label>
                            <input type="text" class="form-control" id="txtFirstName" value="{{ employee.name }}" required="true">
                        </div>
                        <div class="form-group">
                            <label>Last Name:</label>
                            <input type="text" class="form-control" id="txtLastName" value="{{ employee.lastname }}" required="true">
                        </div>
                        <div class="form-group">
                            <label>Username:</label>
                            <input type="text" class="form-control" id="txtUsername" value="{{ employee.username }}" required="true">
                        </div>
                        <div class="form-group">
                            <label>Status:</label>
                            <select class="form-control" id="status">
                                <option value="Active" {% if employee.status=='Active' %} selected {% endif %}>Active</option>
                                <option value="Inactive" {% if employee.status=='Inactive' %} selected {% endif %}>Inactive</option>
                            </select>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-success" id="btnSave" type="button" ><span class="glyphicon glyphicon-floppy-disk"></span> <b>Save</b></button>
                        <a class="btn btn-danger" href="{{ path('employees') }}"><span class="glyphicon glyphicon-remove"></span> <b>Cancel</b></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{{ parent() }}

<script>
    $(document).ready(function(e){
        $('#frmEdit').submit(function(e){
            e.preventDefault();
                var id = $('#id').val();
                var name = $('#txtFirstName').val();
                var lastname = $('#txtLastName').val();
                var username = $('#txtUsername').val();
                var status=$('#status').val();

                var data={
                    id:id,
                    name:name,
                    lastname:lastname,
                    username:username,
                    status:status
                };

                $.ajax({
                    url: Routing.generate('update_employee', {id:id}),
                    data: JSON.stringify(data),
                    type: 'PUT',
                    success:function (response) {
                        window.location.href=Routing.generate('employees');
                    },
                    error: function(err){
                        alert('Nombre de Usuario Existe. Favor Introducir otro.');
                    }
                });
        });
    });
    </script>
{% endblock %}