{% extends 'layout/layout.html.twig' %}

{% block title %}
    Employees
{% endblock %}

{% block container %}
    <div class="panel panel-default">
        <div class="panel-heading">List of Employees</div>
        <div class="panel-body">
            <div class="pull-right">
                <a href="{{ path('new_employees') }}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> <b>Create Employee</b></a>
            </div>
            <div class="container-fluid"></div>
            <br>
            <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                        <th>Date Created</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% if employees|length > 0 %}
                        {% for employee in employees %}
                            <tr>
                                <td id="id">{{ employee.id }}</td>
                                <td>{{ employee.name }}</td>
                                <td>{{ employee.lastname }}</td>
                                <td>{{ employee.username }}</td>
                                <td>{{ employee.datecreated|date('m/d/Y H:m:s') }}</td>
                                <td>{{ employee.status }}</td>
                                <td>
                                    <a href="{{ path('view_employee',{ 'id':employee.id }) }}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span> <b>View</b></a>
                                    <a href="{{ path('edit_employee',{ 'id':employee.id }) }}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span> <b>Edit</b></a>
                                    {% if app.user.id != employee.id %}
                                        <button id="deleteEmployee" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> <b>Delete</b></button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="7"><b>No Hay Registros</b></td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{{ parent() }}

<script>
    $(document).ready(function(e){
        $(document).on('click','#deleteEmployee',function(e) {
            var r=$(e.target).closest('tr');
            
            var id=r.find('#id').text();
            r.remove();

            $.ajax({
                url:Routing.generate('delete_employee', {id:id}),
                type:'DELETE',
                success: function(response) {

                },
                error:function(err) {
                  
                }
            });
        });
    });
</script>
{% endblock %}